.salary-container {
  padding: 20px;
  background-color: #f0f0f0; /* Background color for the container */
  color: #333; /* Text color */
}

.black-text {
  color: #333; /* Text color to match the background */
}

.overall-salary, .individual-salaries {
  margin-bottom: 20px;
}

.individual-salaries-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
  gap: 10px; /* Adds space between the grid items */
}

.faculty-salary-card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff; /* Background color for the cards */
  text-align: center;
}

.search-bar {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
